### cache ###
*.cache*

### JetBrains ###
.idea

### logs ###
*log*
*.log*

### macOS #####
.DS_Store

### npm ###
node_modules
npm-debug.log*
package-lock.json

### Visual Studio Code ###
.vscode

### Yarn ###
.yarnclean
yarn-error.log*

